openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: 'Manage properties in Google Analytics. Warning: Creating multiple Customer Applications, Accounts, or Projects to simulate or act as a single Customer Application, Account, or Project (respectively) or to circumvent Service-specific usage limits or quotas is a direct violation of Google Cloud Platform Terms of Service as well as Google APIs Terms of Service. These actions can result in immediate termination of your GCP project(s) without any warning.'
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Analytics Admin accounts API
  version: v1beta
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://analyticsadmin.googleapis.com/$discovery/rest?version=v1beta
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: analyticsadmin
servers:
- url: https://analyticsadmin.googleapis.com/
tags:
- name: accounts
paths:
  /v1beta/accounts:
    parameters:
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/uploadType'
    get:
      description: 'Returns all accounts accessible by the caller. Note that these accounts might not currently have GA4 properties. Soft-deleted (ie: "trashed") accounts are excluded by default. Returns an empty list if no relevant accounts are found.'
      operationId: analyticsadmin.accounts.list
      parameters:
      - description: The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)
        in: query
        name: pageSize
        schema:
          type: integer
        example: 10
      - description: A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.
        in: query
        name: pageToken
        schema:
          type: string
        example: abc123token
      - description: 'Whether to include soft-deleted (ie: "trashed") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not.'
        in: query
        name: showDeleted
        schema:
          type: boolean
        example: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaListAccountsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
        Oauth2c:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - accounts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1beta/accounts:provisionAccountTicket:
    parameters:
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/uploadType'
    post:
      description: Requests a ticket for creating an account.
      operationId: analyticsadmin.accounts.provisionAccountTicket
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
        Oauth2c:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - accounts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1beta/{account}:searchChangeHistoryEvents:
    parameters:
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/uploadType'
    post:
      description: Searches through all changes to an account or its children given the specified set of filters.
      operationId: analyticsadmin.accounts.searchChangeHistoryEvents
      parameters:
      - description: 'Required. The account resource for which to return change history resources. Format: accounts/{account} Example: "accounts/100"'
        in: path
        name: account
        required: true
        schema:
          type: string
        example: example_value
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
        Oauth2c:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - accounts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
        - '1'
        - '2'
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
        - json
        - media
        - proto
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
  schemas:
    GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData:
      description: Data specific to iOS app streams.
      properties:
        bundleId:
          description: 'Required. Immutable. The Apple App Store Bundle ID for the app Example: "com.example.myiosapp"'
          type: string
        firebaseAppId:
          description: Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated.
          readOnly: true
          type: string
      type: object
    GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest:
      description: Request message for SearchChangeHistoryEvents RPC.
      properties:
        action:
          description: Optional. If set, only return changes that match one or more of these types of actions.
          items:
            enum:
            - ACTION_TYPE_UNSPECIFIED
            - CREATED
            - UPDATED
            - DELETED
            type: string
          type: array
        actorEmail:
          description: Optional. If set, only return changes if they are made by a user in this list.
          items:
            type: string
          type: array
        earliestChangeTime:
          description: Optional. If set, only return changes made after this time (inclusive).
          format: google-datetime
          type: string
        latestChangeTime:
          description: Optional. If set, only return changes made before this time (inclusive).
          format: google-datetime
          type: string
        pageSize:
          description: Optional. The maximum number of ChangeHistoryEvent items to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 items will be returned. The maximum value is 200 (higher values will be coerced to the maximum).
          format: int32
          type: integer
        pageToken:
          description: Optional. A page token, received from a previous `SearchChangeHistoryEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchChangeHistoryEvents` must match the call that provided the page token.
          type: string
        property:
          description: 'Optional. Resource name for a child property. If set, only return changes made to this property or its child resources. Format: properties/{propertyId} Example: "properties/100"'
          type: string
        resourceType:
          description: Optional. If set, only return changes if they are for a resource that matches at least one of these types.
          items:
            enum:
            - CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED
            - ACCOUNT
            - PROPERTY
            - FIREBASE_LINK
            - GOOGLE_ADS_LINK
            - GOOGLE_SIGNALS_SETTINGS
            - CONVERSION_EVENT
            - MEASUREMENT_PROTOCOL_SECRET
            - DATA_RETENTION_SETTINGS
            - DISPLAY_VIDEO_360_ADVERTISER_LINK
            - DISPLAY_VIDEO_360_ADVERTISER_LINK_PROPOSAL
            - DATA_STREAM
            - ATTRIBUTION_SETTINGS
            type: string
          type: array
      type: object
    GoogleAnalyticsAdminV1betaMeasurementProtocolSecret:
      description: A secret value used for sending hits to Measurement Protocol.
      properties:
        displayName:
          description: Required. Human-readable display name for this secret.
          type: string
        name:
          description: 'Output only. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}'
          readOnly: true
          type: string
        secretValue:
          description: Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property.
          readOnly: true
          type: string
      type: object
    GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest:
      description: Request message for ProvisionAccountTicket RPC.
      properties:
        account:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccount'
          description: The account to create.
        redirectUri:
          description: Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Cloud Console as a Redirect URI.
          type: string
      type: object
    GoogleAnalyticsAdminV1betaConversionEvent:
      description: A conversion event in a Google Analytics property.
      properties:
        countingMethod:
          description: Optional. The method by which conversions will be counted across multiple events within a session. If this value is not provided, it will be set to `ONCE_PER_EVENT`.
          enum:
          - CONVERSION_COUNTING_METHOD_UNSPECIFIED
          - ONCE_PER_EVENT
          - ONCE_PER_SESSION
          type: string
          example: CONVERSION_COUNTING_METHOD_UNSPECIFIED
        createTime:
          description: Output only. Time when this conversion event was created in the property.
          format: google-datetime
          readOnly: true
          type: string
          example: '2026-04-17T12:00:00Z'
        custom:
          description: Output only. If set to true, this conversion event refers to a custom event. If set to false, this conversion event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom conversion events that may be created per property.
          readOnly: true
          type: boolean
          example: true
        defaultConversionValue:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaConversionEventDefaultConversionValue'
          description: Optional. Defines a default value/currency for a conversion event.
        deletable:
          description: Output only. If set, this event can currently be deleted with DeleteConversionEvent.
          readOnly: true
          type: boolean
          example: true
        eventName:
          description: 'Immutable. The event name for this conversion event. Examples: ''click'', ''purchase'''
          type: string
          example: Example Name
        name:
          description: 'Output only. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}'
          readOnly: true
          type: string
          example: Example Name
      type: object
    GoogleAnalyticsAdminV1betaChangeHistoryChange:
      description: A description of a change to a single Google Analytics resource.
      properties:
        action:
          description: The type of action that changed this resource.
          enum:
          - ACTION_TYPE_UNSPECIFIED
          - CREATED
          - UPDATED
          - DELETED
          type: string
          example: ACTION_TYPE_UNSPECIFIED
        resource:
          description: Resource name of the resource whose changes are described by this entry.
          type: string
          example: example_value
        resourceAfterChange:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource'
          description: Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing.
        resourceBeforeChange:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource'
          description: Resource contents from before the change was made. If this resource was created in this change, this field will be missing.
      type: object
    GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse:
      description: Response message for ProvisionAccountTicket RPC.
      properties:
        accountTicketId:
          description: The param to be passed in the ToS link.
          type: string
      type: object
    GoogleAnalyticsAdminV1betaProperty:
      description: A resource message representing a Google Analytics GA4 property.
      properties:
        account:
          description: 'Immutable. The resource name of the parent account Format: accounts/{account_id} Example: "accounts/123"'
          type: string
        createTime:
          description: Output only. Time when the entity was originally created.
          format: google-datetime
          readOnly: true
          type: string
        currencyCode:
          description: 'The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: "USD", "EUR", "JPY"'
          type: string
        deleteTime:
          description: Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can.
          format: google-datetime
          readOnly: true
          type: string
        displayName:
          description: Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units.
          type: string
        expireTime:
          description: Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted.
          format: google-datetime
          readOnly: true
          type: string
        industryCategory:
          description: 'Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK'
          enum:
          - INDUSTRY_CATEGORY_UNSPECIFIED
          - AUTOMOTIVE
          - BUSINESS_AND_INDUSTRIAL_MARKETS
          - FINANCE
          - HEALTHCARE
          - TECHNOLOGY
          - TRAVEL
          - OTHER
          - ARTS_AND_ENTERTAINMENT
          - BEAUTY_AND_FITNESS
          - BOOKS_AND_LITERATURE
          - FOOD_AND_DRINK
          - GAMES
          - HOBBIES_AND_LEISURE
          - HOME_AND_GARDEN
          - INTERNET_AND_TELECOM
          - LAW_AND_GOVERNMENT
          - NEWS
          - ONLINE_COMMUNITIES
          - PEOPLE_AND_SOCIETY
          - PETS_AND_ANIMALS
          - REAL_ESTATE
          - REFERENCE
          - SCIENCE
          - SPORTS
          - JOBS_AND_EDUCATION
          - SHOPPING
          type: string
        name:
          description: 'Output only. Resource name of this property. Format: properties/{property_id} Example: "properties/1000"'
          readOnly: true
          type: string
        parent:
          description: 'Immutable. Resource name of this property''s logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: "accounts/100", "properties/101"'
          type: string
        propertyType:
          description: Immutable. The property type for this Property resource. When creating a property, if the type is "PROPERTY_TYPE_UNSPECIFIED", then "ORDINARY_PROPERTY" will be implied.
          enum:
          - PROPERTY_TYPE_UNSPECIFIED
          - PROPERTY_TYPE_ORDINARY
          - PROPERTY_TYPE_SUBPROPERTY
          - PROPERTY_TYPE_ROLLUP
          type: string
        serviceLevel:
          description: Output only. The Google Analytics service level that applies to this property.
          enum:
          - SERVICE_LEVEL_UNSPECIFIED
          - GOOGLE_ANALYTICS_STANDARD
          - GOOGLE_ANALYTICS_360
          readOnly: true
          type: string
        timeZone:
          description: 'Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: "America/Los_Angeles"'
          type: string
        updateTime:
          description: Output only. Time when entity payload fields were last updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GoogleAnalyticsAdminV1betaListAccountsResponse:
      description: Request message for ListAccounts RPC.
      properties:
        accounts:
          description: Results that were accessible to the caller.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccount'
          type: array
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.
          type: string
      type: object
    GoogleAnalyticsAdminV1betaChangeHistoryEvent:
      description: A set of changes within a Google Analytics account or its child properties that resulted from the same cause. Common causes would be updates made in the Google Analytics UI, changes from customer support, or automatic Google Analytics system changes.
      properties:
        actorType:
          description: The type of actor that made this change.
          enum:
          - ACTOR_TYPE_UNSPECIFIED
          - USER
          - SYSTEM
          - SUPPORT
          type: string
          example: ACTOR_TYPE_UNSPECIFIED
        changeTime:
          description: Time when change was made.
          format: google-datetime
          type: string
          example: '2026-04-17T12:00:00Z'
        changes:
          description: A list of changes made in this change history event that fit the filters specified in SearchChangeHistoryEventsRequest.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaChangeHistoryChange'
          type: array
        changesFiltered:
          description: If true, then the list of changes returned was filtered, and does not represent all changes that occurred in this event.
          type: boolean
          example: true
        id:
          description: ID of this change history event. This ID is unique across Google Analytics.
          type: string
          example: '123456'
        userActorEmail:
          description: Email address of the Google account that made the change. This will be a valid email address if the actor field is set to USER, and empty otherwise. Google accounts that have been deleted will cause an error.
          type: string
          example: user@example.com
      type: object
    GoogleAnalyticsAdminV1betaFirebaseLink:
      description: A link between a GA4 property and a Firebase project.
      properties:
        createTime:
          description: Output only. Time when this FirebaseLink was originally created.
          format: google-datetime
          readOnly: true
          type: string
        name:
          description: 'Output only. Example format: properties/1234/firebaseLinks/5678'
          readOnly: true
          type: string
        project:
          description: 'Immutable. Firebase project resource name. When creating a FirebaseLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, returned FirebaseLinks will always have a project_name that contains a project number. Format: ''projects/{project number}'' Example: ''projects/1234'''
          type: string
      type: object
    GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse:
      description: Response message for SearchAccounts RPC.
      properties:
        changeHistoryEvents:
          description: Results that were accessible to the caller.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaChangeHistoryEvent'
          type: array
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.
          type: string
      type: object
    GoogleAnalyticsAdminV1betaConversionEventDefaultConversionValue:
      description: Defines a default value/currency for a conversion event. Both value and currency must be provided.
      properties:
        currencyCode:
          description: When a conversion event for this event_name has no set currency, this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information.
          type: string
        value:
          description: This value will be used to populate the value for all conversions of the specified event_name where the event "value" parameter is unset.
          format: double
          type: number
      type: object
    GoogleAnalyticsAdminV1betaGoogleAdsLink:
      description: A link between a GA4 property and a Google Ads account.
      properties:
        adsPersonalizationEnabled:
          description: Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true.
          type: boolean
        canManageClients:
          description: Output only. If true, this link is for a Google Ads manager account.
          readOnly: true
          type: boolean
        createTime:
          description: Output only. Time when this link was originally created.
          format: google-datetime
          readOnly: true
          type: string
        creatorEmailAddress:
          description: Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved.
          readOnly: true
          type: string
        customerId:
          description: Immutable. Google Ads customer ID.
          type: string
        name:
          description: 'Output only. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.'
          readOnly: true
          type: string
        updateTime:
          description: Output only. Time when this link was last updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GoogleAnalyticsAdminV1betaAccount:
      description: A resource message representing a Google Analytics account.
      properties:
        createTime:
          description: Output only. Time when this account was originally created.
          format: google-datetime
          readOnly: true
          type: string
          example: '2026-04-17T12:00:00Z'
        deleted:
          description: Output only. Indicates whether this Account is soft-deleted or not. Deleted accounts are excluded from List results unless specifically requested.
          readOnly: true
          type: boolean
          example: true
        displayName:
          description: Required. Human-readable display name for this account.
          type: string
          example: Example Name
        name:
          description: 'Output only. Resource name of this account. Format: accounts/{account} Example: "accounts/100"'
          readOnly: true
          type: string
          example: Example Name
        regionCode:
          description: Country of business. Must be a Unicode CLDR region code.
          type: string
          example: example_value
        updateTime:
          description: Output only. Time when account payload fields were last updated.
          format: google-datetime
          readOnly: true
          type: string
          example: '2026-04-17T12:00:00Z'
      type: object
    GoogleAnalyticsAdminV1betaDataStreamWebStreamData:
      description: Data specific to web streams.
      properties:
        defaultUri:
          description: 'Domain name of the web app being measured, or empty. Example: "http://www.google.com", "https://www.google.com"'
          type: string
        firebaseAppId:
          description: Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated.
          readOnly: true
          type: string
        measurementId:
          description: 'Output only. Analytics Measurement ID. Example: "G-1A2BCD345E"'
          readOnly: true
          type: string
      type: object
    GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData:
      description: Data specific to Android app streams.
      properties:
        firebaseAppId:
          description: Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated.
          readOnly: true
          type: string
        packageName:
          description: 'Immutable. The package name for the app being measured. Example: "com.example.myandroidapp"'
          type: string
      type: object
    GoogleAnalyticsAdminV1betaDataStream:
      description: A resource message representing a data stream.
      properties:
        androidAppStreamData:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData'
          description: Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM.
        createTime:
          description: Output only. Time when this stream was originally created.
          format: google-datetime
          readOnly: true
          type: string
        displayName:
          description: Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units.
          type: string
        iosAppStreamData:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData'
          description: Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM.
        name:
          description: 'Output only. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: "properties/1000/dataStreams/2000"'
          readOnly: true
          type: string
        type:
          description: Required. Immutable. The type of this DataStream resource.
          enum:
          - DATA_STREAM_TYPE_UNSPECIFIED
          - WEB_DATA_STREAM
          - ANDROID_APP_DATA_STREAM
          - IOS_APP_DATA_STREAM
          type: string
        updateTime:
          description: Output only. Time when stream payload fields were last updated.
          format: google-datetime
          readOnly: true
          type: string
        webStreamData:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaDataStreamWebStreamData'
          description: Data specific to web streams. Must be populated if type is WEB_DATA_STREAM.
      type: object
    GoogleAnalyticsAdminV1betaDataRetentionSettings:
      description: Settings values for data retention. This is a singleton resource.
      properties:
        eventDataRetention:
          description: The length of time that event-level data is retained.
          enum:
          - RETENTION_DURATION_UNSPECIFIED
          - TWO_MONTHS
          - FOURTEEN_MONTHS
          - TWENTY_SIX_MONTHS
          - THIRTY_EIGHT_MONTHS
          - FIFTY_MONTHS
          type: string
        name:
          description: 'Output only. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings'
          readOnly: true
          type: string
        resetUserDataOnNewActivity:
          description: If true, reset the retention period for the user identifier with every event from that user.
          type: boolean
      type: object
    GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource:
      description: A snapshot of a resource as before or after the result of a change in change history.
      properties:
        account:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccount'
          description: A snapshot of an Account resource in change history.
        conversionEvent:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaConversionEvent'
          description: A snapshot of a ConversionEvent resource in change history.
        dataRetentionSettings:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaDataRetentionSettings'
          description: A snapshot of a data retention settings resource in change history.
        dataStream:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaDataStream'
          description: A snapshot of a DataStream resource in change history.
        firebaseLink:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaFirebaseLink'
          description: A snapshot of a FirebaseLink resource in change history.
        googleAdsLink:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaGoogleAdsLink'
          description: A snapshot of a GoogleAdsLink resource in change history.
        measurementProtocolSecret:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaMeasurementProtocolSecret'
          description: A snapshot of a MeasurementProtocolSecret resource in change history.
        property:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaProperty'
          description: A snapshot of a Property resource in change history.
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/analytics.edit: Edit Google Analytics management entities
            https://www.googleapis.com/auth/analytics.readonly: See and download your Google Analytics data
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/analytics.edit: Edit Google Analytics management entities
            https://www.googleapis.com/auth/analytics.readonly: See and download your Google Analytics data
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
externalDocs:
  url: http://code.google.com/apis/analytics/docs/mgmt/home.html
