openapi: 3.2.0
info:
  title: Google Analytics Account Summaries API
  x-refined-note:
  - x-apisguru-categories differs across the merged source definitions and was not carried
  - x-logo differs across the merged source definitions and was not carried
  - x-origin differs across the merged source definitions and was not carried
  - x-preferred differs across the merged source definitions and was not carried
  - x-providerName differs across the merged source definitions and was not carried
  - x-refined-note differs across the merged source definitions and was not carried
  - x-serviceName differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged accountSummaries across 2 of this provider''s published API definitions: google-analytics-admin-api.yaml, google-analytics-accountsummaries-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://analyticsadmin.googleapis.com/
- url: https://analyticsadmin.googleapis.com
  description: Google Analytics Admin API
tags:
- name: accountSummaries
paths:
  /v1beta/accountSummaries:
    parameters:
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/uploadType'
    get:
      description: Returns summaries of all accounts accessible by the caller.
      operationId: analyticsadmin.accountSummaries.list
      parameters:
      - description: The maximum number of AccountSummary resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)
        in: query
        name: pageSize
        schema:
          type: integer
        example: 10
      - description: A page token, received from a previous `ListAccountSummaries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountSummaries` must match the call that provided the page token.
        in: query
        name: pageToken
        schema:
          type: string
        example: abc123token
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaListAccountSummariesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
        Oauth2c:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - accountSummaries
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Analyticsadmin account summaries list
      x-summary-source: derived
    servers:
    - url: https://analyticsadmin.googleapis.com/
  /v1alpha/accountSummaries:
    servers:
    - url: https://analyticsadmin.googleapis.com
      description: Google Analytics Admin API
    get:
      operationId: accountSummaries_list
      summary: Returns summaries of all accounts accessible by the caller
      tags:
      - accountSummaries
      description: Returns summaries of all accounts accessible by the caller.
      parameters:
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: Optional. The maximum number of AccountSummary resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: Optional. A page token, received from a previous `ListAccountSummaries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountSummaries` must match the call that provided the page token.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaListAccountSummariesResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - analytics.edit
        - analytics.readonly
      - BearerAuth: []
components:
  parameters:
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
        - json
        - media
        - proto
        type: string
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
        - '1'
        - '2'
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
  schemas:
    GoogleAnalyticsAdminV1betaListAccountSummariesResponse:
      description: Response message for ListAccountSummaries RPC.
      properties:
        accountSummaries:
          description: Account summaries of all accounts the caller has access to.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccountSummary'
          type: array
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.
          type: string
      type: object
    GoogleAnalyticsAdminV1betaAccountSummary:
      description: A virtual resource representing an overview of an account and all its child GA4 properties.
      properties:
        account:
          description: 'Resource name of account referred to by this account summary Format: accounts/{account_id} Example: "accounts/1000"'
          type: string
          example: example_value
        displayName:
          description: Display name for the account referred to in this account summary.
          type: string
          example: Example Name
        name:
          description: 'Resource name for this account summary. Format: accountSummaries/{account_id} Example: "accountSummaries/1000"'
          type: string
          example: Example Name
        propertySummaries:
          description: List of summaries for child accounts of this account.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaPropertySummary'
          type: array
      type: object
    GoogleAnalyticsAdminV1betaPropertySummary:
      description: A virtual resource representing metadata for a GA4 property.
      properties:
        displayName:
          description: Display name for the property referred to in this property summary.
          type: string
        parent:
          description: 'Resource name of this property''s logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: "accounts/100", "properties/200"'
          type: string
        property:
          description: 'Resource name of property referred to by this property summary Format: properties/{property_id} Example: "properties/1000"'
          type: string
        propertyType:
          description: The property's property type.
          enum:
          - PROPERTY_TYPE_UNSPECIFIED
          - PROPERTY_TYPE_ORDINARY
          - PROPERTY_TYPE_SUBPROPERTY
          - PROPERTY_TYPE_ROLLUP
          type: string
      type: object
    GoogleRpcStatus:
      type: object
      description: Canonical google.rpc.Status error payload returned by Google APIs.
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            type: object
    GoogleAnalyticsAdminV1alphaPropertySummary:
      type: object
      description: A virtual resource representing metadata for a Google Analytics property.
      properties:
        property:
          type: string
          description: 'Resource name of property referred to by this property summary Format: properties/{property_id} Example: "properties/1000"'
        canEdit:
          description: If true, then the user has a Google Analytics role that permits them to edit the property.
          type: boolean
        parent:
          description: 'Resource name of this property''s logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: "accounts/100", "properties/200"'
          type: string
        displayName:
          description: Display name for the property referred to in this property summary.
          type: string
        propertyType:
          type: string
          x-enumDescriptions:
          - Unknown or unspecified property type
          - Ordinary Google Analytics property
          - Google Analytics subproperty
          - Google Analytics rollup property
          description: The property's property type.
          enum:
          - PROPERTY_TYPE_UNSPECIFIED
          - PROPERTY_TYPE_ORDINARY
          - PROPERTY_TYPE_SUBPROPERTY
          - PROPERTY_TYPE_ROLLUP
    GoogleAnalyticsAdminV1alphaListAccountSummariesResponse:
      description: Response message for ListAccountSummaries RPC.
      properties:
        accountSummaries:
          description: Account summaries of all accounts the caller has access to.
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccountSummary'
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaAccountSummary:
      description: A virtual resource representing an overview of an account and all its child Google Analytics properties.
      properties:
        account:
          description: 'Resource name of account referred to by this account summary Format: accounts/{account_id} Example: "accounts/1000"'
          type: string
        name:
          description: 'Identifier. Resource name for this account summary. Format: accountSummaries/{account_id} Example: "accountSummaries/1000"'
          type: string
        displayName:
          description: Display name for the account referred to in this account summary.
          type: string
        propertySummaries:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaPropertySummary'
          description: List of summaries for child accounts of this account.
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/analytics.edit: Edit Google Analytics management entities
            https://www.googleapis.com/auth/analytics.readonly: See and download your Google Analytics data
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/analytics.edit: Edit Google Analytics management entities
            https://www.googleapis.com/auth/analytics.readonly: See and download your Google Analytics data
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
    OAuth2:
      type: oauth2
      description: Google OAuth 2.0. Scopes are the short form of the full https://www.googleapis.com/auth/<scope> identifier.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            analytics.edit: Edit Google Analytics management entities
            analytics.manage.users: Manage Google Analytics Account users by email address
            analytics.manage.users.readonly: View Google Analytics user permissions
            analytics.readonly: See and download your Google Analytics data
    BearerAuth:
      type: http
      scheme: bearer
      description: Google OAuth 2.0 access token presented as a bearer token.
externalDocs:
  url: http://code.google.com/apis/analytics/docs/mgmt/home.html
x-refined-from:
- google-analytics-admin-api.yaml
- google-analytics-accountsummaries-api-openapi.yml
