openapi: 3.2.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Views and manages your Google Analytics data.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Analytics Metadata API
  version: v3
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: google
    url: https://analytics.googleapis.com/$discovery/rest?version=v3
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: analytics
servers:
- url: https://analytics.googleapis.com/analytics/v3
tags:
- name: metadata
paths:
  /metadata/{reportType}/columns:
    parameters:
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/userIp'
    get:
      description: Lists all columns for a report type
      operationId: analytics.metadata.columns.list
      parameters:
      - description: 'Report type. Allowed Values: ''ga''. Where ''ga'' corresponds to the Core Reporting API'
        in: path
        name: reportType
        required: true
        schema:
          type: string
        example: ACTIVE
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Columns'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
        Oauth2c:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
        Oauth2c:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - metadata
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Column:
      description: JSON template for a metadata column.
      properties:
        attributes:
          additionalProperties:
            description: The name of the attribute.
            type: string
          description: Map of attribute name and value for this column.
          type: object
        id:
          description: Column id.
          type: string
          example: '123456'
        kind:
          default: analytics#column
          description: Resource type for Analytics column.
          type: string
          example: example_value
      type: object
    Columns:
      description: Lists columns (dimensions and metrics) for a particular report type.
      properties:
        attributeNames:
          description: List of attributes names returned by columns.
          items:
            type: string
          type: array
        etag:
          description: Etag of collection. This etag can be compared with the last response etag to check if response has changed.
          type: string
          example: example_value
        items:
          description: List of columns for a report type.
          items:
            $ref: '#/components/schemas/Column'
          type: array
        kind:
          default: analytics#columns
          description: Collection type.
          type: string
          example: example_value
        totalResults:
          description: Total number of columns returned in the response.
          format: int32
          type: integer
          example: 42
      type: object
  parameters:
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    userIp:
      description: Deprecated. Please use quotaUser instead.
      in: query
      name: userIp
      schema:
        type: string
    quotaUser:
      description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    alt:
      description: Data format for the response.
      in: query
      name: alt
      schema:
        enum:
        - json
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/analytics: View and manage your Google Analytics data
            https://www.googleapis.com/auth/analytics.edit: Edit Google Analytics management entities
            https://www.googleapis.com/auth/analytics.manage.users: Manage Google Analytics Account users by email address
            https://www.googleapis.com/auth/analytics.manage.users.readonly: View Google Analytics user permissions
            https://www.googleapis.com/auth/analytics.provision: Create a new Google Analytics account along with its default property and view
            https://www.googleapis.com/auth/analytics.readonly: View your Google Analytics data
            https://www.googleapis.com/auth/analytics.user.deletion: Manage Google Analytics user deletion requests
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/analytics: View and manage your Google Analytics data
            https://www.googleapis.com/auth/analytics.edit: Edit Google Analytics management entities
            https://www.googleapis.com/auth/analytics.manage.users: Manage Google Analytics Account users by email address
            https://www.googleapis.com/auth/analytics.manage.users.readonly: View Google Analytics user permissions
            https://www.googleapis.com/auth/analytics.provision: Create a new Google Analytics account along with its default property and view
            https://www.googleapis.com/auth/analytics.readonly: View your Google Analytics data
            https://www.googleapis.com/auth/analytics.user.deletion: Manage Google Analytics user deletion requests
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
externalDocs:
  url: https://developers.google.com/analytics/
